In [82]:

#pakages
import os
import pymysql
import json
import git
import pandas as pd
import plotly.express as px
import streamlit as st  
import plotly.graph_objects as go

In [ ]:
#Aggregated transaction
path="/Users/sathish/Desktop/phonepe/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)


#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}
if '.DS_Store' in Agg_state_list:
    Agg_state_list.remove('.DS_Store')
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        print(j)
        p_j=p_i+j+"/"
        try:
            Agg_yr_list=os.listdir(p_j)
            print(Agg_yr_list)
            for k in Agg_yr_list:
                p_k=p_j+k
                Data=open(p_k,'r')
                D=json.load(Data)
                for z in D['data']['transactionData']:
                    Name=z['name']
                    count=z['paymentInstruments'][0]['count']
                    amount=z['paymentInstruments'][0]['amount']
                    clm['Transacion_type'].append(Name)
                    clm['Transacion_count'].append(count)
                    clm['Transacion_amount'].append(amount)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quater'].append(int(k.strip('.json')))
        except:
            pass

#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)


Agg_Trans["State"] = Agg_Trans["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Agg_Trans["State"] = Agg_Trans["State"].str.replace("-"," ")
Agg_Trans["State"] = Agg_Trans["State"].str.title()
Agg_Trans['State'] = Agg_Trans['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [69]:
#Aggregated_user


path_2="/Users/sathish/Desktop/phonepe/pulse/data/aggregated/user/country/india/state/"
Agg_user_list=os.listdir(path_2)


clm_2={'State':[], 'Year':[],'Quater':[],'Brands':[], 'Transacion_count':[], 'Percentage':[]}
if '.DS_Store' in Agg_user_list:
    Agg_user_list.remove('.DS_Store')


for i in Agg_user_list:
    # if '.DS_Store' in i:
    #   i.remove('.DS_Store')
    p_i=path_2+i+"/"
    Agg_yr=os.listdir(p_i)
    if '.DS_Store' in Agg_yr:
      Agg_yr.remove('.DS_Store')
    for j in Agg_yr:
        
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D2=json.load(Data)
           
        try:   
            for z in D2["data"]["usersByDevice"]:
              brand=z['brand']
              count=z['count']
              percentage=z['percentage']
              clm_2['Brands'].append(brand)
              clm_2['Transacion_count'].append(count)
              clm_2['Percentage'].append(percentage)
              clm_2['State'].append(i)
              clm_2['Year'].append(j)
              clm_2['Quater'].append(int(k.strip('.json')))
        except:
            pass

#Succesfully created a dataframe
Agg_User=pd.DataFrame(clm_2)

In [167]:
#Map_Transaction

path_3="/Users/sathish/Desktop/phonepe/pulse/data/map/transaction/hover/country/india/state/"
map_Tran_list=os.listdir(path_3)

clm_3={'State':[], 'Year':[],'Quater':[],'Districts':[], 'Transacion_count':[], 'Transaction_amount':[]}
if '.DS_Store' in map_Tran_list:
    map_Tran_list.remove('.DS_Store')
for i in map_Tran_list:
    p_i=path_3+i+"/"
    Agg_yr=os.listdir(p_i)
    if '.DS_Store' in Agg_yr:
      Agg_yr.remove('.DS_Store')
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D3=json.load(Data)

 
            for z in D3['data']['hoverDataList']:
              Name=z['name']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm_3['Districts'].append(Name)
              clm_3['Transacion_count'].append(count)
              clm_3['Transaction_amount'].append(amount)
              clm_3['State'].append(i)
              clm_3['Year'].append(j)
              clm_3['Quater'].append(int(k.strip('.json')))
    

           
#Succesfully created a dataframe
Map_Tran=pd.DataFrame(clm_3)

In [71]:
#Map_user

path_4="/Users/sathish/Desktop/phonepe/pulse/data/map/user/hover/country/india/state/"
Map_user_list=os.listdir(path_4)
clm_4={'State':[], 'Year':[],'Quater':[],'Districts':[], 'RegisteredUsers':[], 'AppOpens':[]}
if '.DS_Store' in Map_user_list:
    Map_user_list.remove('.DS_Store')
for i in Map_user_list:
    p_i=path_4+i+"/"
    Agg_yr=os.listdir(p_i)
    if '.DS_Store' in Agg_yr:
      Agg_yr.remove('.DS_Store')
 
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D4=json.load(Data)

            for data in D4['data']['hoverData'].items():
              district=data[0]
              registeredUsers=data[1]['registeredUsers']
              appOpens=data[1]['appOpens']
              
              clm_4['Districts'].append(district)
              clm_4['RegisteredUsers'].append(registeredUsers)
              clm_4['AppOpens'].append(appOpens)
              clm_4['State'].append(i)
              clm_4['Year'].append(j)
              clm_4['Quater'].append(int(k.strip('.json')))


    
#Succesfully created a dataframe
Map_User=pd.DataFrame(clm_4)

In [181]:
#Top Transaction

path_5="/Users/sathish/Desktop/phonepe/pulse/data/top/transaction/country/india/state/"


Top_Tran_list=os.listdir(path_5)

clm_5={'State':[], 'Year':[],'Quater':[],'Pincodes':[], 'Transaction_count':[], 'Transaction_amount':[]}
if '.DS_Store' in Top_Tran_list:
        Top_Tran_list.remove('.DS_Store')
for i in Top_Tran_list:
    if '.DS_Store' in i:
        i.remove('.DS_Store')
    p_i=path_5+i+"/"
    Agg_yr=os.listdir(p_i)
    if '.DS_Store' in Agg_yr:
        Agg_yr.remove('.DS_Store')
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D5=json.load(Data)

            for data1 in D5["data"]["pincodes"]:
                entityName = data1["entityName"]
                count = data1["metric"]["count"]
                amount = data1["metric"]["amount"]
                clm_5["Pincodes"].append(entityName)
                clm_5["Transaction_count"].append(count)
                clm_5["Transaction_amount"].append(amount)
                clm_5["State"].append(i)
                clm_5["Year"].append(j)
                clm_5["Quater"].append(int(k.strip(".json")))

#Succesfully created a dataframe
Top_Tran=pd.DataFrame(clm_5)

In [176]:
#Top_User


path_6="/Users/sathish/Desktop/phonepe/pulse/data/top/user/country/india/state/"


Top_User_list=os.listdir(path_6)
clm_6={'State':[], 'Year':[],'Quater':[],'Pincodes':[], 'RegisteredUser':[]}
if '.DS_Store' in Top_User_list:
        Top_User_list.remove('.DS_Store')
for i in Top_User_list:
    p_i=path_6+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D6=json.load(Data)
            for data2 in D6["data"]["pincodes"]:
                name = data2["name"]
                registeredusers = data2["registeredUsers"]
                clm_6["Pincodes"].append(name)
                clm_6["RegisteredUser"].append(registeredusers)
                clm_6["State"].append(i)
                clm_6["Year"].append(j)
                clm_6["Quater"].append(int(k.strip(".json")))

#Succesfully created a dataframe
Top_User=pd.DataFrame(clm_6)

In [142]:
# Table creation
#Aggregated_Transaction_Table


myconnection = pymysql.connect(host='127.0.0.1',user='root',passwd='admin123',database='Phonepe')
cur = myconnection.cursor()
# cur.execute("create database Phonepe")


create_query1 = '''CREATE TABLE if not exists aggregated_transaction (States varchar(50),
                                                                      Years int,
                                                                      Quarter int,
                                                                      Transaction_type varchar(50),
                                                                      Transaction_count bigint,
                                                                      Transaction_amount bigint
                                                                      )'''
cur.execute(create_query1)
myconnection.commit()

for index,row in Agg_Trans.iterrows():
    insert_query1 = '''INSERT INTO aggregated_transaction (States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["State"],
              row["Year"],
              row["Quater"],
              row["Transacion_type"],
              row["Transacion_count"],
              row["Transacion_amount"]
              )
    cur.execute(insert_query1,values)
    myconnection.commit()

In [192]:
#Aggregated_User_Table


myconnection = pymysql.connect(host='127.0.0.1',user='root',passwd='admin123',database='Phonepe')
cur = myconnection.cursor()
create_query2 = '''CREATE TABLE if not exists aggregated_user (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                Brands varchar(50),
                                                                Transaction_count bigint,
                                                                Percentage float)'''
cur.execute(create_query2)
myconnection.commit()

for index,row in Agg_User.iterrows():
    insert_query2 = '''INSERT INTO aggregated_user (States, Years, Quarter, Brands, Transaction_count, Percentage)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["State"],
              row["Year"],
              row["Quater"],
              row["Brands"],
              row["Transacion_count"],
              row["Percentage"])
    cur.execute(insert_query2,values)
    myconnection.commit()

In [169]:
#Map_Transaction_Table

myconnection = pymysql.connect(host='127.0.0.1',user='root',passwd='admin123',database='Phonepe')
cur = myconnection.cursor()
create_query3 = '''CREATE TABLE if not exists map_transaction (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                District varchar(50),
                                                                Transaction_count bigint,
                                                                Transaction_amount float)'''
cur.execute(create_query3)
myconnection.commit()

for index,row in Map_Tran.iterrows():
            insert_query3 = '''
                INSERT INTO map_Transaction (States, Years, Quarter, District, Transaction_count, Transaction_amount)
                VALUES (%s, %s, %s, %s, %s, %s)

            '''
            values = (
                row['State'],
                row['Year'],
                row['Quater'],
                row['Districts'],
                row['Transacion_count'],
                row['Transaction_amount']
            )
            cur.execute(insert_query3,values)
            myconnection.commit()

In [178]:
#Map_User_Table
myconnection = pymysql.connect(host='127.0.0.1',user='root',passwd='admin123',database='Phonepe')
cur = myconnection.cursor()
create_query4 = '''CREATE TABLE if not exists map_user (States varchar(50),
                                                        Years int,
                                                        Quarter int,
                                                        Districts varchar(50),
                                                        RegisteredUser bigint,
                                                        AppOpens bigint)'''
cur.execute(create_query4)
myconnection.commit()
for index,row in Map_User.iterrows():
        insert_query4 = '''INSERT INTO map_user (States, Years, Quarter, Districts, RegisteredUser, AppOpens)
                            values(%s,%s,%s,%s,%s,%s)'''
        values = (row["State"],
                row["Year"],
                row["Quater"],
                row["Districts"],
                row["RegisteredUsers"],
                row["AppOpens"])
        cur.execute(insert_query4,values)
        myconnection.commit()

In [183]:
#Top_Transaction_Table
myconnection = pymysql.connect(host='127.0.0.1',user='root',passwd='admin123',database='Phonepe')
cur = myconnection.cursor()
create_query5 = '''CREATE TABLE if not exists top_transaction (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                pincodes int,
                                                                Transaction_count bigint,
                                                                Transaction_amount bigint)'''
cur.execute(create_query5)
myconnection.commit()

for index,row in Top_Tran.iterrows():
    insert_query5 = '''INSERT INTO top_transaction (States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["State"],
              row["Year"],
              row["Quater"],
              row["Pincodes"],
              row["Transaction_count"],
              row["Transaction_amount"])
    cur.execute(insert_query5,values)
    myconnection.commit()

In [ ]:
#Top_User_Table

myconnection = pymysql.connect(host='127.0.0.1',user='root',passwd='admin123',database='Phonepe')
cur = myconnection.cursor()
create_query6 = '''CREATE TABLE if not exists top_user (States varchar(50),
                                                        Years int,
                                                        Quarter int,
                                                        Pincodes int,
                                                        RegisteredUser bigint
                                                        )'''
cur.execute(create_query6)
myconnection.commit()

for index,row in Top_User.iterrows():
    insert_query6 = '''INSERT INTO top_user (States, Years, Quarter, Pincodes, RegisteredUser)
                                            values(%s,%s,%s,%s,%s)'''
    values = (row["State"],
              row["Year"],
              row["Quater"],
              row["Pincodes"],
              row["RegisteredUser"])
    cur.execute(insert_query6,values)
    myconnection.commit()